<%= form_for(@capture_image) do |f| %>
  <% if @capture_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capture_image.errors.count, "error") %> prohibited this capture_image from being saved:</h2>

      <ul>
      <% @capture_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
